html {
  font-family: 'Roboto', sans-serif;
 background-image:url("unnamed.png");
            /*background-color: lightgray;*/
            height: 700px;
            width:100%;
            background-size:cover;
  
}

hr {
 border-top: 1px solid blue;
}

body {
  color: white;
}

.column {
  float: left;
  width: 50%;
}


.row:after {
  content: "";
  display: table;
  clear
