html {
  font-family: 'Roboto', sans-serif;
 background-image:url("unnamed.png");
            /*background-color: lightgray;*/
            height: 700px;
            width:100%;
            background-size:cover;
  color: white;
}

hr {
 border-top: 1px solid blue;
}
