html {
  font-family: 'Roboto', sans-serif;
  background: url("https://subcloud-interactive.github.io/unnamed.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

hr {
 border-top: 1px solid blue;
}
